custom_env.sh
flink-doris-connector/dependency-reduced-pom.xml
flink-doris-connector/output/
flink-doris-connector/target/
flink-doris-connector/pom.xml.releaseBackup
flink-doris-connector/release.properties
.idea
*.iml
*.DS_Store
dist

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
